* {
  border:        none;
  font-family: "NotoSans Nerd Font";
  font-size:     15px;
  color: rgb(210,210,210);
  transition-duration: 0s;
  padding: 0;
}


window#waybar {
  /* color:      rgba(217, 216, 216, 1); */
  background: rgba(35, 31, 32, 0.38);
  border-bottom: 3px solid rgba(123,23,144,0.4);
}

#workspaces {
  padding: 0;
  border-radius: 0px;
  border: 0;
  margin-right: 5px;
}

#workspaces button {
  /* hidden border */
  border-bottom: 2px solid rgba(33, 204, 255, 0);
  min-width:  25px;
  border-radius: 0;
  padding:    0px; 
  padding-bottom: 2px;
}

#workspaces button:hover {
  border-bottom: 2px solid rgba(190, 6, 211, 0.9);
  border-radius: 0;
  background: none;
  padding-top: 0px;
  padding-bottom: 2px;
}

#workspaces button.active {
  border-bottom: 2px solid rgba(33, 204, 255, 0.9);
  border-radius: 0;
  padding-top: 0px;
  padding-bottom: 2px;
}

#workspaces button.urgent {
  color:       rgba(255, 210, 4, 1);
}

#window{
  margin-left: 5px;
  padding-bottom: 3px;
}

#bluetooth, #mode, #cpu, #backlight, #idle_inhibitor, #language, #pulseaudio, #network, #memory, #temperature, #battery, #clock, #tray, #custom-storage, #custom-spotify, #custom-weather, #custom-mail, #custom-hypridle, #custom-powermenu {
  padding: 0 7px 3px 7px;
  margin: 0px;
}

#battery.charging {
  color:      rgba(217, 216, 216, 1);
}

#custom-storage.warning {
  color:      rgba(255, 210, 4, 1);
}

.warning {
  color:      rgba(255, 210, 4, 1);
}

.critical {
  color:      rgba(238, 46, 36, 1);
}
