* {
border: none;
outline: none;
outline-style: none;
box-shadow: none;
text-shadow: none;
font-size: 15px;
}

window {
margin: 0px;
padding: 0px;
border: none;
/* background-color: #fff; */
color:      rgba(217, 216, 216, 1);
background: rgba(30, 30, 30, 0.92);
}

#input {
margin: 5px;
border: none;
border-radius: 0px;
color: #fff;
background-color: #333;
}

#input:focus {
    border:none;
}

#inner-box {
margin: 5px;
border: none;
/* background-color: #282a36; */
color:      rgba(217, 216, 216, 1);
/* background: rgba(35, 31, 32, 0.40); */
}

#outer-box {
margin: 5px;
border: none;
/* background-color: #fff; */
/* background: rgba(35, 31, 32, 0.40); */
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
/* color: #f8f8f2; */
color:      rgba(217, 216, 216, 0.9);
} 

#text:selected {
    border: none;
    color: #fff;
}


#entry:selected {
border: 0px;
border-left: 3px solid rgba(217, 216, 216, 1);
background: rgba(255, 255, 255, 0);
color:      rgba(255, 253, 253, 1);
}

#entry {
border: 0px;
border-left: 3px solid rgba(217, 216, 216, 0);
}
